<h1>Welcome to our website!</h1>
<h2>All Users</h2>
<br>

<ul>
  <% @users.each do |user| %>
    <li>
     <b> Username:</b> <%= user.username %>
    </li>
    <% if current_user.if_admin? %>
      <%= button_to 'Show', user_path(user), method: :get %>
    <% end %>

  <% end %> <br>
<%= button_to 'Show Products', products_path, method: :get%>
</ul>
<br>
<%= paginate @users %>
