<div class="container">
  <div class="text-center">
    <h1>Order</h1>
    <%= render "form", order: @order, cart: @cart %>
    <%= button_to "Back", :back, method: :get, class: "btn btn-primary" %>
  </div>
</div>
