<%= form_with model: [ user, user.roles.build ] do |form| %>

  <p>
     <%= form.label :user_role %>
     <%= form.select :user_role, ['admin', 'staff', 'customer','Not Selected'], selected: 'Not Selected' %>
  </p>

  <p> 
     <%= form.submit %>
  </p>

<% end %>
